<div class="customer-reviews" id="customer-reviews">
    <div class="container">
        <h2 class="customer-reviews__title">Отзывы клиентов</h2>
    </div>
    <div class="customer-reviews__container">
        <div class="customer-reviews__slides">
            <div class="customer-reviews__slide">
                <div class="customer-reviews__slide-header">
                    <img src="./images/user-icon.png" alt="" class="customer-reviews__slide-icon">
                    <div class="customer-reviews__slide-caption">
                        <div class="customer-reviews__slide-title">Марина Сергеева</div>
                        <div class="customer-reviews__slide-subtitle">Предприниматель</div>
                    </div>
                </div>
                <div class="customer-reviews__slide-description">Спасибо юристам компании «3кей» за проделанную работу! Обращалась для раздела совместно нажитого имущества с бывшим мужем, все объяснили, помогли.</div>
            </div>
            <div class="customer-reviews__slide">
                <div class="customer-reviews__slide-header">
                    <img src="./images/user-icon.png" alt="" class="customer-reviews__slide-icon">
                    <div class="customer-reviews__slide-caption">
                        <div class="customer-reviews__slide-title">Кирилл Баев</div>
                        <div class="customer-reviews__slide-subtitle">Самозанятый</div>
                    </div>
                </div>
                <div class="customer-reviews__slide-description">На сайте заказал звонок. Перезвонили быстро, дали полную консультацию, позже пришел к ним в офис подписали договор, дело выиграли, спасибо за помощь.</div>
            </div>
            <div class="customer-reviews__slide">
                <div class="customer-reviews__slide-header">
                    <img src="./images/user-icon.png" alt="" class="customer-reviews__slide-icon">
                    <div class="customer-reviews__slide-caption">
                        <div class="customer-reviews__slide-title">Лариса Михеева</div>
                        <div class="customer-reviews__slide-subtitle">Предприниматель</div>
                    </div>
                </div>
                <div class="customer-reviews__slide-description">Спасибо юристам компании «3кей» за проделанную работу! Обращалась для раздела совместно нажитого имущества с бывшим мужем, все объяснили, помогли.</div>
            </div>
            <div class="customer-reviews__slide">
                <div class="customer-reviews__slide-header">
                    <img src="./images/user-icon.png" alt="" class="customer-reviews__slide-icon">
                    <div class="customer-reviews__slide-caption">
                        <div class="customer-reviews__slide-title">Матвей Заев</div>
                        <div class="customer-reviews__slide-subtitle">Самозанятый</div>
                    </div>
                </div>
                <div class="customer-reviews__slide-description">На сайте заказал звонок. Перезвонили быстро, дали полную консультацию, позже пришел к ним в офис подписали договор, дело выиграли, спасибо за помощь.</div>
            </div>
            <div class="customer-reviews__slide">
                <div class="customer-reviews__slide-header">
                    <img src="./images/user-icon.png" alt="" class="customer-reviews__slide-icon">
                    <div class="customer-reviews__slide-caption">
                        <div class="customer-reviews__slide-title">Дарина Еремеева</div>
                        <div class="customer-reviews__slide-subtitle">Предприниматель</div>
                    </div>
                </div>
                <div class="customer-reviews__slide-description">Спасибо юристам компании «3кей» за проделанную работу! Обращалась для раздела совместно нажитого имущества с бывшим мужем, все объяснили, помогли.</div>
            </div>
            <div class="customer-reviews__slide">
                <div class="customer-reviews__slide-header">
                    <img src="./images/user-icon.png" alt="" class="customer-reviews__slide-icon">
                    <div class="customer-reviews__slide-caption">
                        <div class="customer-reviews__slide-title">Метилл Хаев</div>
                        <div class="customer-reviews__slide-subtitle">Самозанятый</div>
                    </div>
                </div>
                <div class="customer-reviews__slide-description">На сайте заказал звонок. Перезвонили быстро, дали полную консультацию, позже пришел к ним в офис подписали договор, дело выиграли, спасибо за помощь.</div>
            </div>
            <div class="customer-reviews__slide">
                <div class="customer-reviews__slide-header">
                    <img src="./images/user-icon.png" alt="" class="customer-reviews__slide-icon">
                    <div class="customer-reviews__slide-caption">
                        <div class="customer-reviews__slide-title">Арина Вертеева</div>
                        <div class="customer-reviews__slide-subtitle">Предприниматель</div>
                    </div>
                </div>
                <div class="customer-reviews__slide-description">Спасибо юристам компании «3кей» за проделанную работу! Обращалась для раздела совместно нажитого имущества с бывшим мужем, все объяснили, помогли.</div>
            </div>
            <div class="customer-reviews__slide">
                <div class="customer-reviews__slide-header">
                    <img src="./images/user-icon.png" alt="" class="customer-reviews__slide-icon">
                    <div class="customer-reviews__slide-caption">
                        <div class="customer-reviews__slide-title">Михаил Даев</div>
                        <div class="customer-reviews__slide-subtitle">Самозанятый</div>
                    </div>
                </div>
                <div class="customer-reviews__slide-description">На сайте заказал звонок. Перезвонили быстро, дали полную консультацию, позже пришел к ним в офис подписали договор, дело выиграли, спасибо за помощь.</div>
            </div>
        </div>
    </div>
</div>