<div class="main-banner" id="home">
    <div class="container main-banner__container">
        <div class="row">
            <div class="col-xl-8">
                <div class="main-banner__content">
                    <div class="main-banner__content-desktop">
                        <h1 class="main-banner__headline">Создание и сопровождение сайтов любой сложности</h1>
                        <div class="main-banner__description">Мы поможем вам решить и воплотить в жизнь любые интернет проекты, любой сложности.</div>
                    </div>
                    <div class="main-banner__content-mobile">
                        <h1 class="main-banner__headline">Простое решение сложных вопросов</h1>
                        <div class="main-banner__description">Квалифицированная помощь в сфере
                            правовой поддержки, продвижения бизнеса,
                            разработке интернет-ресурсов</div>
                    </div>
                    <a href="#contact-form" class="the-button main-banner__button">Заказать звонок</a>
                </div>
                <div class="main-banner__social-media">
                    {{> social-media }}
                </div>
            </div>
        </div>
    </div>
</div>

