<div class="our-services" id="services">
    <div class="container our-services__container">
        <div class="our-services__content-desktop">
            <div class="row">
                <div class="col-xl-6 col-lg-12 our-services__left">
                    <img src="images/our-services.png" alt="">
                </div>
                <div class="col-xl-6 col-lg-12 our-services__right">
                    <h2 class="our-services__title">КАКИЕ ЗАДАЧИ МЫ
                        ПОМОЖЕМ ВАМ РЕШИТЬ</h2>
                    <ul class="our-services__items">
                        <li class="our-services__item">Интернет магазины.</li>
                        <li class="our-services__item">Эксклюзивные лендинги.</li>
                        <li class="our-services__item">Сайты по шаблону.</li>
                        <li class="our-services__item">Полная настройка сайта и админ панели.</li>
                        <li class="our-services__item">Сайт любой сложности под ключ.</li>
                        <li class="our-services__item">Обслуживания ваших сайтов.</li>
                        <li class="our-services__item">Доработка вашего сайта.</li>
                        <li class="our-services__item">Многостраничные сайты.</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="our-services__content-mobile">
            <h2 class="our-services__title">Наши направления</h2>
            <div class="our-services__directions">
                <div class="our-services__direction">
                    <img src="./images/direction1.png" alt="" class="our-services__direction-image">
                    <div class="our-services__direction-title">Веб-услуги</div>
                    <a href="#" class="our-services__direction-link">Подробнее ></a>
                </div>
                <div class="our-services__direction">
                    <img src="./images/direction2.png" alt="" class="our-services__direction-image">
                    <div class="our-services__direction-title">Юридические услуги</div>
                    <a href="#" class="our-services__direction-link">Подробнее ></a>
                </div>
                <div class="our-services__direction">
                    <img src="./images/direction3.png" alt="" class="our-services__direction-image">
                    <div class="our-services__direction-title">Консалтинговые услуги</div>
                    <a href="#" class="our-services__direction-link">Подробнее ></a>
                </div>
                <div class="our-services__direction">
                    <img src="./images/direction4.png" alt="" class="our-services__direction-image">
                    <div class="our-services__direction-title">Бухгалтерские услуги</div>
                    <a href="#" class="our-services__direction-link">Подробнее ></a>
                </div>
            </div>
        </div>
    </div>
</div>