.the-button {
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 1.21;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  min-height: 38px;
  outline: none;
  border: 0;
  cursor: pointer;
  text-decoration: none;
  transition: $delay;
  background-color: $green;
  border-radius: 10px;
  padding: 26px 63px;

  @media(max-width: 991px) {
    padding: 17px 32px;
    border-radius: 5px;
    font-size: 18px;
    line-height: 1.22;
  }
  @media(max-width: 575px) {

  }


  &:hover {
    background: darken($green,15%);
  }
}
