<div class="feedback-area" id="contact-form">
    <div class="container feedback-area__container">
        <div class="h2 feedback-area__title">Остались вопросы?</div>
        <div class="feedback-area__form">
            {{> contact-form }}
        </div>
        <div class="feedback-area__comment">Звонок бесплатный</div>
    </div>
</div>