<main class="main-wrapper">
    {{> header-banner }}
    {{> our-services }}
    {{> our-methods }}
    {{> our-prices }}
    {{> about-company }}
    {{> customer-reviews }}
    {{> contacts }}
    {{> feedback-area }}
    {{> main-footer }}
    {{> thanks }}
</main>
