<form class="contact-form">
    <div class="contact-form__field-wrap">
        <label for="contact-name" class="contact-form__field-label">Ваше имя:</label>
        <input placeholder="Илья Романов" name="name" id="contact-name" class="contact-form__field" autocomplete="off">
    </div>
    <div class="contact-form__field-wrap">
        <label for="contact-tel" class="contact-form__field-label">Ваш номер телефона:</label>
        <input placeholder="+7 (XXX) XXX-XX-XX" type="tel" name="phone" id="contact-tel" class="contact-form__field" autocomplete="off">
    </div>
    <div class="contact-form__submit-wrapper">
        <button class="the-button contact-form__submit-button" type="submit">Заказать звонок</button>
    </div>
</form>