<div class="our-methods">
    <div class="container our-methods__container">
        <div class="our-methods__intro">
            <div class="h2 our-methods__title">Как мы работаем</div>
            <div class="our-methods__description">Весь технологический процесс полностью идет в тесном сотрудничестве с клиентом нашей компании. </div>
            <a href="#contact-form" class="the-button our-methods__button">Заказать звонок</a>
        </div>
        <ol class="our-methods__items">
            <li class="our-methods__item-wrapper wrapper-one">
                <div class="our-methods__item item-one"><span class="our-methods__item-text">Оставьте заявку на звонок обратной связи</span></div>
                <div class="our-methods__separator"></div>
            </li>
            <li class="our-methods__item-wrapper wrapper-two">
                <div class="our-methods__item item-two"><span class="our-methods__item-text">Дождитесь звонка от нашего специалиста</span></div>
                <div class="our-methods__separator"></div>
            </li>
            <li class="our-methods__item-wrapper wrapper-three">
                <div class="our-methods__item item-three"><span class="our-methods__item-text">Расскажите нам о продукте который вы хотите получить</span></div>
                <div class="our-methods__separator"></div>
            </li>
            <li class="our-methods__item-wrapper wrapper-four">
                <div class="our-methods__item item-four"><span class="our-methods__item-text">Используйте готовый продукт для своих личных и безнес целей</span></div>
            </li>
        </ol>
    </div>
</div>