<div class="about-company" id="about-company">
    <div class="container about-company__container">
        <div class="row">
            <div class="col-xl-6 col-lg-6 col-md-6 about-company__left">
                <div class="about-company__content">
                    <div class="h2 about-company__title-desktop">О компании</div>
                    <div class="h2 about-company__title-mobile">О нас</div>
                    <div class="about-company__description">Трикей - организация, объединяющая экспертов в области веб-технологий. Компания нацелена на консолидацию сил успешных, практикующих специалистов в области IT, для решения задач любой сложности. В своей деятельности, мы руководствуемся тремя принципами:</div>
                    <ol class="about-company__items">
                        <li class="about-company__item item-first"><div class="about-company__item-text">честность по отношению к клиенту</div></li>
                        <li class="about-company__item item-second"><div class="about-company__item-text">доступность и прозрачность в ценовой политике</div></li>
                        <li class="about-company__item item-third"><div class="about-company__item-text">оперативность в разрешении дел</div></li>
                    </ol>
                </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 about-company__right">
                <img src="images/about-company.png" alt="" class="about-company__image-desktop">
                <img src="images/about-company-767.png" alt="" class="about-company__image-ipad">
                <img src="images/about-company-320.png" alt="" class="about-company__image-phone">
            </div>
        </div>
    </div>
</div>