<div class="our-prices" id="price">
    <div class="container our-prices__container">
        <h2 class="our-prices__title">Стоимость услуг</h2>
        <ul class="our-prices__items">
            <li class="our-prices__item">
                <div class="our-prices__item-title">Создание сайта под ключ</div>
                <div class="our-prices__item-price">5000 руб.</div>
            </li>
            <li class="our-prices__item">
                <div class="our-prices__item-title">Обслуживание ваших сайтов</div>
                <div class="our-prices__item-price">7000 руб.</div>
            </li>
            <li class="our-prices__item">
                <div class="our-prices__item-title">Доработка вашего сайта</div>
                <div class="our-prices__item-price">3000 руб.</div>
            </li>
            <li class="our-prices__item">
                <div class="our-prices__item-title">Интернет-магазин</div>
                <div class="our-prices__item-price">10000 руб.</div>
            </li>
            <li class="our-prices__item">
                <div class="our-prices__item-title">Экслюзивные лендинги</div>
                <div class="our-prices__item-price">8000 руб.</div>
            </li>
        </ul>
        <div class="our-prices__order-call">
            <a href="#contact-form" class="the-button our-prices__button">Заказать звонок</a>
        </div>
    </div>
</div>