<div class="social-media">
    <a href="#" class="social-media__link social-media__instagram">
        {{> icon iconName="instagram" classNames="social-media__icon icon__instagram" }}
    </a>
    <a href="#" class="social-media__link social-media__facebook">
        {{> icon iconName="facebook" classNames="social-media__icon icon__facebook" }}
    </a>
    <a href="#" class="social-media__link social-media__vkontakte">
        {{> icon iconName="vkontakte" classNames="social-media__icon icon__vkontakte" }}
    </a>
</div>
<div class="social-media__copy">© 3key.ru 2020</div>