<footer class="main-footer">
    <div class="container main-footer__container">
        <div class="main-footer__logo-address">
            <div class="main-footer__logo">
                {{> logo }}
                <div class="main-footer__copy">© 3key.ru 2020</div>
            </div>
            <div class="main-footer__address">
                <div class="main-footer__address-city address_one">г.Кемерово</div>
                <div class="main-footer__address-street address_two">ул. Демьяна Бедного 6, офис 38</div>
                <div class="main-footer__address-schedule address_three">ПН-ПТ 10:00 - 19:00</div>
                <div class="main-footer__address-schedule address_four">СБ-ВС  12:00 - 14:00</div>
                <div class="main-footer__copy address_five">© 3key.ru 2020</div>
            </div>
        </div>
        <div class="main-footer__menu">
            <a href="#home" class="main-footer__menu-link menu-link_one">Главная</a>
            <a href="#about-company" class="main-footer__menu-link menu-link_two">О нас</a>
            <a href="#services" class="main-footer__menu-link menu-link_three">Наши направления</a>
            <a href="#contacts" class="main-footer__menu-link menu-link_four">Контакты</a>
            <a href="#customer-reviews" class="main-footer__menu-link menu-link_five">Отзывы</a>
        </div>
        <div class="main-footer__contacts">
            <a href="tel:+73842650120" class="main-footer__contacts-phone">+7-384-265-01-20</a>
            <a mailto="" class="main-footer__contacts-email">3key@gmail.com</a>
            {{> social-media }}
        </div>
    </div>
</footer>