<nav id="nav">
    <ul>
        <li><a href="#home" class="nav__link">Главная</a></li>
        <li><a href="#services" class="nav__link">Услуги</a></li>
        <li><a href="#price" class="nav__link">Прайс</a></li>
        <li><a href="#about-company" class="nav__link">О компании</a></li>
        <li><a href="#customer-reviews" class="nav__link">Отзывы</a></li>
        <li><a href="#contacts" class="nav__link">Контакты</a></li>
    </ul>
</nav>

