<div class="contacts" id="contacts">
    <div class="contacts__info">
        <div class="container contacts__container">
            <div class="h2 contacts__title">Контакты</div>
            <div class="row contacts__items">
                <div class="col-xl-3 contacts__item contact-phone">
                    <div class="contacts__item-title">Телефон:</div>
                    <div class="contacts__item-description">+7-384-265-01-20</div>
                </div>
                <div class="col-xl-3 contacts__item contact-email">
                    <div class="contacts__item-title">E-mail:</div>
                    <div class="contacts__item-description">3key@gmail.com</div>
                </div>
                <div class="col-xl-3 contacts__item contact-address">
                    <div class="contacts__item-title">Адрес:</div>
                    <div class="contacts__item-description">г. Кемерово,<br>
                        ул. Демьяна Бедного 6, офис 38
                    </div>
                </div>
                <div class="col-xl-3 contacts__item contact-timetable">
                    <div class="contacts__item-title">Часы работы:</div>
                    <div class="contacts__item-description">ПН-ПТ 10:00 - 19:00<br>
                        СБ-ВС  12:00 - 14:00
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="contacts__map">
        <iframe src="https://yandex.ua/map-widget/v1/?um=constructor%3A1bd2d68acc434f305af64ac442f1e980c33753ff47e7b2a524506c5bd1f13b68&amp;source=constructor" width="100%" height="100%" frameborder="0" scroll="false"></iframe>
    </div>
</div>