<header class="main-header">
    <div class="container-fluid main-header__container">
        <div class="main-header__logo">
            <div class="main-header__menu-toggle">
                {{> menu-toggle }}
            </div>
            {{> logo }}
        </div>
        <div class="main-header__nav main-menu">
            {{> nav }}
        </div>
        <div class="main-header__contacts">
            <img src="./images/call-icon.png" alt="" class="main-header__contacts-icon">
            <div class="main-header__contacts-group">
                <a href="tel:+73842650120" class="main-header__contacts-phone">+7-384-265-01-20</a>
                <div class="main-header__contacts-timetable">ПН-ПТ 10:00 - 19:00</div>
                <div class="main-header__contacts-timetable">СБ-ВС  12:00 - 14:00</div>
            </div>
        </div>
    </div>
</header>


